<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>책검색</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <!--jQuery-->
    <script th:src="@{../js/JQuery1.12.4.js}"></script>

    <link rel="stylesheet" th:href="@{../css/reset.css}">
    <link rel="stylesheet" th:href="@{../css/template.css}">
    <script th:src="@{../js/common.js}"></script>
</head>
<body>
<header layout:fragment="header">
    <div class="headerWrap">
        <div class="header">
            <ul>
                <li><a href="#">책검색</a></li>
                <li><a href="#">북마크</a></li>
                <li><a href="#">최근검색</a></li>
            </ul>
        </div>
    </div>
</header>
<section layout:fragment="content">
</section>
</body>
</html>