<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<script>
    $(function() {
    });
</script>
<!-- 검색결과 영역 -->
<div class="clear">
    <ul class="inline-grid">
        <li data-th-each="orderItem:${result?.documents}"  class="bookList">
            <ul>
                <li class="left listShot"><img data-th-src="${orderItem.thumbnail}" width="95" height="138"></li>
                <li class="left listDetail">
                    <dl>
                        <dt style="margin-bottom: 20px">
                            <a href="#" data-th-onclick="'bookView.moveBookDetail(\''+${orderItem.barcode}+'\'); return false;'" class="title" data-th-utext="${orderItem.title}"></a>
                        </dt>
                        <dd class="left listDetailInfo" style="border-right : 1px solid; margin-right: 20px">
                            <ul class="">
                                <li><th:block data-th-utext="${orderItem.authors}"/></li>
                                <li><th:block data-th-utext="${orderItem.datetime}"/></li>
                                <li><th:block data-th-utext="${orderItem.price}"/>원</li>
                                <li><th:block data-th-utext="${orderItem.status}"/></li>
                            </ul>
                        </dd>
                        <dd class="listDetailBook">
                            <th:block data-th-utext="${orderItem.contents}"/>
                        </dd>
                    </dl>
                </li>
            </ul>
        </li>
        <li style="width:100%; text-align:center;">
            <input type="text" id="page" name="page" data-th-value="${result?.meta?.page}" style="width:40px;"/>
            /
            <span data-th-text="${(result?.meta?.pageableCount/result?.meta?.size) + 1}"></span>
            <a class="btnCancle" onclick="bookView.getBookList();return false;" href="#">go</a>
            <input type="hidden" id="pageableCount" name="pageableCount" data-th-value="${(result?.meta?.pageableCount/result?.meta?.size) + 1}"/>
        </li>
    </ul>
</div>
<!-- 페이지 영역 -->
