<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <script>
        $(function() {
        });
    </script>
</head>
<body>
    <div style="width:1000px;">
        <div class="thumbnail left">
            <img data-th-src="${result?.thumbnail}" width="400" height="400">
        </div>
        <div class="info">
            <span data-th-utext="${result?.title}" class="title"></span>
            <ul>
                <li>
                    <span class="left">저자</span>
                    <span data-th-text="${result?.authors}" class="right"></span>
                </li>
                <li>
                    <span class="left">번역</span>
                    <span data-th-text="${result?.translators}" class="right"></span>
                </li>
                <li>
                    <span class="left">출판사</span>
                    <span data-th-text="${result?.publisher}" class="right"></span>
                </li>
                <li>
                    <div class="line"></div>
                    <span class="left">판매상황</span>
                    <span data-th-text="${result?.status}" class="right"></span>
                </li>
                <li>
                    <span class="left">정가</span>
                    <span data-th-text="${result?.price}" class="right"></span>
                </li>
                <li>
                    <span class="left">할인가</span>
                    <span data-th-text="${result?.salePrice}" class="right"></span>
                </li>
                <li>
                    <input type="button" width="110px" height="40px" value="바로가기">
                </li>
            </ul>
        </div>
        <div data-th-text="${result?.authors}" class="detailInfo">
            다음 웹툰 X 《미움받을 용기》 스페셜 리커버 에디션!  청춘들이 가장 사랑하는 웹툰작가 만물상과 S_owl, 김경, 이은재가 선보이는 《미움받을 용기》 스페셜 리커버 에디션이 출간되었다...
        </div>
    </div>
</body>
</html>