<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <script>
        var bookHistory={
            searchBook : function (query, target) {
                $("#query").val(query);
                $("#target").val(target);
                bookView.getSearchBookList();
            }
        }
    </script>
</head>
<ul class="searchHistory">
    <li style="text-align:center;">
        <span style="text-align:center;">최근 검색어</span>
    </li>
    <li data-th-test="${result != null}" data-th-each="orderItem:${result}">
        <span style="height:100%;float:left" >
            <a href="#" data-th-text="${orderItem?.query}"
                 data-th-onclick="'bookHistory.searchBook(\''+${orderItem?.query}+'\', \''+${orderItem?.target}+'\'); return false;'"></a></span>
    </li>
</ul>