<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <script>
        $(function() {
        });
    </script>
</head>
<body>
    <div style="margin-top: 20px;">
        <div class="thumbnail left">
            <img data-th-src="${result?.thumbnail}" width="400" height="400">
        </div>
        <div class="info left">
            <span data-th-utext="${result?.title}" class="title"></span>
            <ul>
                <li class="mt10">
                    <span class="left">저자</span>
                    <span data-th-text="${result?.authors}" class="right"></span>
                </li>
                <li class="mt10">
                    <span class="left">번역</span>
                    <span data-th-text="${result?.translators}" class="right"></span>
                </li>
                <li class="mt10">
                    <span class="left">출판사</span>
                    <span data-th-text="${result?.publisher}" class="right"></span>
                </li>
                <li class="mt10">
                    <div class="line"></div>
                    <span class="left">판매상황</span>
                    <span data-th-text="${result?.status}" class="right"></span>
                </li>
                <li class="mt10">
                    <span class="left">정가</span>
                    <span data-th-text="${result?.price}" class="right"></span>
                </li>
                <li class="mt10">
                    <span class="left">할인가</span>
                    <span data-th-text="${result?.salePrice}" class="right"></span>
                </li>
                <li class="mt10">
                    <div class="btnSite">
                        <a href="#" class="btnCancle" onclick="bookView.serachDetailShowHide(true); return false;">목록</a>
                    </div>
                </li>
            </ul>
        </div>
        <div data-th-utext="${result?.contents}" class="detailInfo">
        </div>
    </div>
</body>
</html>