<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="./layout/template">
<head>
</head>
<body>
<section layout:fragment="content">
    <div class="content">
        <ul class="inline-grid">
            <li class="bookList">
                <ul>
                    <li class="left listShot"><img src="http://t1.daumcdn.net/thumb/R110x160/?fname=http%3A%2F%2Ft1.daumcdn.net%2Fbook%2FBOK00034559905YE%3Fmoddttm=20180708072617" alt="곰돌이 푸, 행복한 일은 매일 있어-아직 행복을 기다리는 우리에게" class="aImg" width="95" height="138"></li>
                    <li class="left listDetail">
                        <dl>
                            <dt style="margin: 20px;">책 제목</dt>
                            <dd class="left listDetailInfo">
                                <ul class="">
                                    <li>펴낸이</li>
                                    <li>일자</li>
                                    <li>리뷰</li>
                                    <li>서평</li>
                                </ul>
                            </dd>
                            <dd class="listDetailBook">책소개 나를 지키기 위해 자꾸만 나를 잃어가는 세상 속에서, 나로 살기 위한 곰돌이 푸의 마음을 들여다보는 말. “푸는 말이야, 머리는 별로 좋지 않지만 절대 나쁜 일은 하지 않아! 바보 같은 짓을 해도 푸가 하면 잘 돼.”이 책 『곰돌이 푸, 행복한 일은 매일 있..</dd>
                        </dl>
                    </li>
                </ul>
            </li>

            <li class="bookList">
                <ul>
                    <li class="left listShot"><img src="http://t1.daumcdn.net/thumb/R110x160/?fname=http%3A%2F%2Ft1.daumcdn.net%2Fbook%2FBOK00034559905YE%3Fmoddttm=20180708072617" alt="곰돌이 푸, 행복한 일은 매일 있어-아직 행복을 기다리는 우리에게" class="aImg" width="95" height="138"></li>
                    <li class="left listDetail">
                        <dl>
                            <dt style="margin: 20px;">책 제목</dt>
                            <dd class="left listDetailInfo">
                                <ul class="">
                                    <li>펴낸이</li>
                                    <li>일자</li>
                                    <li>리뷰</li>
                                    <li>서평</li>
                                </ul>
                            </dd>
                            <dd class="listDetailBook">책소개 나를 지키기 위해 자꾸만 나를 잃어가는 세상 속에서, 나로 살기 위한 곰돌이 푸의 마음을 들여다보는 말. “푸는 말이야, 머리는 별로 좋지 않지만 절대 나쁜 일은 하지 않아! 바보 같은 짓을 해도 푸가 하면 잘 돼.”이 책 『곰돌이 푸, 행복한 일은 매일 있..</dd>
                        </dl>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</section>
</body>
</html>