@charset "UTF-8";
ul{list-style: none;}
a{text-decoration: none; }
.right{float:right;}
li .left{float:left;}
.inline-grid{display: inline-grid}
.clear{clear:both;}

.headerWrap{height:100px; background: #3b3b3b;}
.header{min-width: 1000px; width: 1000px; margin: auto;}
.header li{float:left; padding: 0 20px 0 20px; }
.header li a{text-decoration: none; color:#808080; font-size: 20px;}
.header li a:hover{color: #fff}

.content{width: 1000px; height: 100%; margin: auto;}
.bookList{width: 1000px; height: 100%; margin: 20px 0 20px 0}
.listShot{width: 100px;}
.listDetail{width: 700px;}
.listDetailInfo{width: 260px;}
.listDetailBook{overflow: hidden; width: 400px;}

<!--책검색 상세-->
.thumbnail{width:400px;}
.info{width:550px;}
.title{font-weight:bold; font-size:20px;}
.line{border-top: 1px solid #5e7b71; margin: 10px 0;}
.detailInfo{width:1000px; clear:both;}
.info li{overflow:hidden;}

<!--버튼 디자인-->
.btnSite{width:100%; text-align:center;}
.btnOk{background:#ff690e; padding:13px 30px 15px; font-size:14px; color:#fff; text-decoration:none; height: 40px;}
.btnCancle{background:#333; padding:13px 30px 15px; font-size:14px; color:#fff; text-decoration:none; height: 40px;}

<!--최근검색어 디자인-->
.searchHistory{width:200px; position:fixed; left:200px; list-style:none; display:grid;}
.searchHistory li{border: solid 1px;}
